---
---
$background: #2D2F38;
$background-elevated: #32343D;
$text: #cedcf0;
$yellow: #EDC337;
$green: #4DA147;
// {% include header.scss %}
@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/sourcesans-regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/sourcesans-bold.woff2") format("woff2");
  font-weight: bold;
}
body {
  background-color: $background;
  margin: 0;
  font-family: "Source Sans", sans-serif;
  color: $text;
}
.intro {
  display: flex;
  justify-content: space-around;
  padding: 40px 100px;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    padding: 20px 0px;
  }
  .left, .right {
    flex: 1;
  }
  .left {
    @media (max-width: 1300px) {
      margin-bottom: 40px;
    }
    @media (max-width: 800px) {
      padding-top: 25px;
    }
    padding-top: 80px;
    h1 {
      text-align: center;
      color: $text;
      font-size: 50px;
      @media (max-width: 800px) {
        font-size: 34px;
      }
      margin: 0px 0px 20px 0px;
    }
    .adjective {
      background-color: #42853d; // Adjusted color for contrast
      display: inline-block;
      padding: 2px 15px 8px 15px;
      border-radius: 16px;
    }
    .summary {
      font-size: 28px;
      color: $text;
      margin: 0 56px;
      padding: 10px 18px;
      background-color: $background-elevated;
      border-radius: 15px;
      @media (max-width: 800px) {
        margin: 0 30px;
        font-size: 24px;
      }
    }
    .recruit {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      background-color: $yellow;
      color: $background-elevated;
      display: inline-block;
      margin: 40px 0 0 0;
      padding: 7px 16px;
      border-radius: 12px;
      text-decoration: none;
      @media (max-width: 800px) {
        font-size: 34px;
        margin-top: 20px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    >svg {
      width: 100%;
      max-width: 584.5px;
      @media (max-width: 800px) {
        width: 75%;
        height: 100%;
      }
    }
  }
}
